{% extends "base.html" %}

{% block announce %}
  <div class="header-contact-links">
    <a href="http://www.admin.digital" target="_blank" rel="noopener">www.admin.digital</a>
    <span aria-hidden="true">|</span>
    <a href="mailto:support@seantis.ch">support@seantis.ch</a>
    <span aria-hidden="true">|</span>
    <a href="tel:+41415112250">+41 41 511 22 50</a>
  </div>
{% endblock %}

{% block extrahead %}
  {{ super() }}
  <script defer data-domain="docs.admin.digital"
          src="https://analytics.seantis.ch/js/script.js"></script>

  <!-- Open Graph -->
  <meta property="og:title" content="{{ page.title }} - {{ config.site_name }} - admin.digital">
  <meta property="og:description" content="{{ config.site_description }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page.canonical_url }}">
  <meta property="og:image" content="{{ config.site_url }}img/og-image.png">
{% endblock %}