.md-typeset .question>.admonition-title, .md-typeset .question>summary {
    background-color: var(--md-default-fg-color--lightest);
}

.md-typeset .admonition.question, .md-typeset details.question {
    border-color: var(--md-default-fg-color--lighter);
}

.md-typeset details.question[open] {
    background-color: var(--md-default-bg-color);
}

.md-typeset .question>.admonition-title:before, .md-typeset .question>summary:before, .md-typeset .question>.admonition-title:after, .md-typeset .question>summary:after {
    background-color: var(--md-default-fg-color--light);
}